<table matSort mat-table [dataSource]="dataSource" class="">
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  @for (column of columns; track column) {
    <ng-container [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="column.columnDef !== 'customerID'">{{ column.header }}</span>
        <span *ngIf="column.columnDef === 'customerID'" mat-sort-header>{{ column.header }}</span>
      </th>
      <td mat-cell *matCellDef="let row">
        {{ column.cell(row) }}
      </td>
    </ng-container>
  }
  <tr mat-row (click)="openCustomer(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button (click)="newCustomer()"  class="fabButton"  mat-fab color="primary"><mat-icon>add</mat-icon></button>
