:host {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}


section {
  display: flex;
  gap: 1rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonToRight{
  display: flex;
  justify-content: end;
}

button{
  max-width: 12rem;
}
